.head{
    color: white;
    color: #fff !important;
    font-family: Poppins,sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 65px;
    
}
.title{
    color: #fff !important;
    font-family: Poppins,sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: -5px 0 15px;
    overflow: hidden;
    text-transform: uppercase;
    padding-left: 16px;
}
.subtitle{
    font-size: 25px;
    color: #41c9ff !important;
    font-family: Raleway,sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-left: 16px;
    
}
.para{
    
    font-family:sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    word-spacing: 1px;
    border: 2px solid;
    height:190px;
    width:600px;
    padding: 20px;
    background-color: lightgrey;
    color: rgb(225, 36, 36);
    border-radius:40px 15px;
    margin-top: 30px;
}


strong{
    color:white !important;
}

.about-box{
    margin-left: 30px;
    margin-top: 30px;
    
}
.about-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img{
    height: 500px;
}
.resume-click{
    margin-left: 5px;
    color: white;
}

